<div class="container background">
    <h1>All Set Search the Tweets Here</h1>
    <input id="searchBar" value="" type="text"
           ng-model="model.tweet.searchWord"
           class="form-control"
           placeholder="Search"/>
    <button class="btn btn-primary btn-block" href="#" ng-click="model.search(model.tweet)"
    >Search
    </button>
    <ul class="list-group selfScroll">
        <li ng-repeat="item in model.tweets" ng-bind-html="item" class="list-group-item">{{item}}</li>
    </ul>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <script>
        //This is work around for calling angular ng-click from onclick
        function tempFunction(word) {
            //changing hte value of searchbar and binding it using angulatJS adn JQUERY
            var input=$('#searchBar')
            input.val(word);
            input.trigger('change');
            var scope = angular.element(document.getElementById(word)).scope();
            scope.$apply(function () {
                var a = {searchWord:word}
                scope.model.search(a);
            });
        }
    </script>
</div>

